*{
    margin: 0px;
    padding: 0px;
}
.nav-link{
    color: white;
    font-size: x-large;
}
.navbar-brand{
    color: white;
    font-size: x-large;
    
}
.navbar-brand:hover{
    color: red;
}
.nav-link:hover{
    color: red;
}